*.DS_Store
.AppleDouble
.LSOverride
.aws-sam/

/.bundle/
/vendor/bundle
/lib/bundler/man/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets